@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #202632;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 360px;
  background-color: #313a49;
  padding: 20px 27px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
}

h1 {
  color: #ccdfe6;
  margin: 35px 0px 30px;
}

p {
  color: #23df91;
  margin-top: 30px;
  font-size: 12px;
  letter-spacing: 2.4px;
}

.desktop {
  display: none;
}

.icon {
  position: relative;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: #53ffab;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;
}

@media (min-width: 600px) {
  .container {
    width: 540px;
  }

  .desktop {
    display: inline-block;
  }
  .mobile {
    display: none;
  }
  p {
    font-size: 16px;
  }
}

.attribution {
  position: absolute;
  top: 700px;
}
